#include "windows.h"
#include "resource.h"

TTYICON ICON DISCARDABLE "TTY.ICO"
TTYBITMAP BITMAP DISCARDABLE "TTY.BMP"

TTYMENU MENU
BEGIN
  POPUP "&Action"
  BEGIN
    MENUITEM "&Connect\tShift+PgUp",IDM_CONNECT
    MENUITEM "&Disconnect\tShift+PgDn",IDM_DISCONNECT
    MENUITEM SEPARATOR
    MENUITEM "E&xit",IDM_EXIT
  END
  MENUITEM "&Settings...",IDM_SETTINGS
  POPUP "&Transfer"
  BEGIN
    MENUITEM "Send Data Block\tShift+F1",IDM_SENDBLOCK
  END
  MENUITEM "A&bout",IDM_ABOUT
END

TTYACCEL ACCELERATORS
BEGIN
  112,IDM_SENDBLOCK,VIRTKEY,SHIFT,NOINVERT
  65,IDM_DISCONNECT,VIRTKEY,SHIFT,NOINVERT
  65,IDM_CONNECT,VIRTKEY,SHIFT,NOINVERT
END

SETTINGSDLGBOX DIALOGEX 25,20,200,175
CAPTION "TTY Settings..."
FONT 8,"Helv",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION
BEGIN
  CONTROL "&COM Options:",-1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,5,5,115,130
  CONTROL "&Port:",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_RIGHT,10,20,40,10
  CONTROL "",IDD_PORTCB,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,55,20,55,35
  CONTROL "&Baud Rate:",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_RIGHT,10,35,40,10
  CONTROL "",IDD_BAUDCB,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,55,35,55,35
  CONTROL "&Data Bits:",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_RIGHT,10,50,40,10
  CONTROL "",IDD_DATABITSCB,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,55,50,55,35
  CONTROL "P&arity:",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_RIGHT,10,65,40,10
  CONTROL "",IDD_PARITYCB,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,55,65,55,35
  CONTROL "&Stop Bits:",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_RIGHT,10,80,40,10
  CONTROL "",IDD_STOPBITSCB,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,55,80,55,35
  CONTROL "F&low:",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_RIGHT,10,95,40,10
  CONTROL "DTR/DSR",IDD_DTRDSR,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,55,95,50,10
  CONTROL "RTS/CTS",IDD_RTSCTS,"Button",WS_VISIBLE|BS_AUTOCHECKBOX,55,105,50,10
  CONTROL "XON/XOFF",IDD_XONXOFF,"Button",WS_VISIBLE|BS_AUTOCHECKBOX,55,115,50,10
  CONTROL "&TTY Options:",-1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|BS_GROUPBOX,125,5,70,55
  CONTROL "Autowrap",IDD_AUTOWRAP,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,135,20,50,10
  CONTROL "New Line",IDD_NEWLINE,"Button",WS_VISIBLE|BS_AUTOCHECKBOX,135,30,50,10
  CONTROL "Local Echo",IDD_LOCALECHO,"Button",WS_VISIBLE|BS_AUTOCHECKBOX,135,40,50,10
  CONTROL "Control &Options",-1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,5,135,190,35
  CONTROL "Use CN_RECEIVE Notifications",IDD_USECNRECEIVE,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,10,150,115,10
  CONTROL "Display Errors",IDD_DISPLAYERRORS,"Button",WS_VISIBLE|BS_AUTOCHECKBOX,130,150,60,10
  CONTROL "&Font",IDD_FONT,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|WS_TABSTOP,140,70,40,14
  CONTROL "Ok",IDD_OK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,140,90,40,14
  CONTROL "Cancel",IDD_CANCEL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,140,110,40,14
END

ABOUTDLGBOX DIALOGEX 10,25,220,100
CAPTION "About the SDK TTY Sample"
FONT 8,"Helv",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME
BEGIN
  CONTROL "",TTYICON,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|0x00000017,0,10,5,18
  CONTROL "Microsoft Windows v.%d.%d",IDD_TITLELINE,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_NOPREFIX,45,5,127,10
  CONTROL "TTY Sample v.%02d.%02d.%03d",IDD_VERSION,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_NOPREFIX,45,15,120,10
  CONTROL "Copyright 1992 - 1997 Microsoft Corp.",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_NOPREFIX,45,25,145,10
  CONTROL "",IDD_BYLINE,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_NOPREFIX,45,35,145,20
  CONTROL "",-1,"Static",WS_VISIBLE|SS_BLACKRECT,45,60,172,1
  CONTROL "386 Enhanced Mode",IDD_WINDOWSMODE,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_NOPREFIX,45,65,150,10
  CONTROL "Memory:",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_NOPREFIX,45,75,70,10
  CONTROL "%lu KB Free",IDD_FREEMEM,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_NOPREFIX,120,75,74,10
  CONTROL "System Resources:",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_NOPREFIX,45,85,70,10
  CONTROL "%d%%",IDD_RESOURCES,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_NOPREFIX,120,85,74,10
  CONTROL "OK",IDD_OK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,177,5,40,14
END

STRINGTABLE DISCARDABLE
BEGIN
  IDS_COMPREFIX "COM"
END

STRINGTABLE DISCARDABLE
BEGIN
  IDS_BAUD110 "110"
  IDS_BAUD300 "300"
  IDS_BAUD600 "600"
  IDS_BAUD1200 "1200"
  IDS_BAUD2400 "2400"
  IDS_BAUD4800 "4800"
  IDS_BAUD9600 "9600"
  IDS_BAUD14400 "14.4k"
  IDS_BAUD19200 "19.2k"
  IDS_BAUD38400 "38.4k"
  IDS_BAUD56000 "56k"
  IDS_BAUD57600 "57.6k"
  IDS_BAUD115200 "115.2k"
  IDS_BAUD128000 "128k"
  IDS_BAUD256000 "256k"
END

STRINGTABLE DISCARDABLE
BEGIN
  IDS_PARITYNONE "None"
  IDS_PARITYEVEN "Even"
  IDS_PARITYODD "Odd"
  IDS_PARITYMARK "Mark"
  IDS_PARITYSPACE "Space"
END

STRINGTABLE DISCARDABLE
BEGIN
  IDS_ONESTOPBIT "1"
  IDS_ONE5STOPBITS "1.5"
  IDS_TWOSTOPBITS "2"
END

STRINGTABLE DISCARDABLE
BEGIN
  IDS_MODE_STANDARD "Standard mode"
  IDS_MODE_ENHANCED "386 Enhanced mode"
  IDS_MODE_WLO "WLO Compatibilty mode"
  IDS_MODE_UNDEF "Undefined mode"
END

